@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

body {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("vectorbg.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

#banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("banner.png");
    position: sticky;
    display: flex;
    text-align: center;
    justify-content: center;
    top: 0;
    width: 100%;
}

a {
    color: #ffa9a1;
}

#profile {
    display: block;
}

.resume-section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    font-size: 2rem;
    text-align: center;
}

.section-content {
    background-color: rgba(74, 0, 0, 0.5);
}

.section-list {
    border-spacing: 0 1rem;
    table-layout: fixed;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.list-entry:nth-child(even) {
    background-color: #650000;
}

.list-entry:nth-child(odd) {
    background-color: #4A0000;
}

.list-entry a {
    font-weight: bolder;
}

.list-entry a:hover {
    color: white;
}

.list-entry h3 {
    font-size: 1.25rem;
}

.list-entry td {
    vertical-align: top;
    padding: 1rem;
    border-color: darkgrey;
    border-top-style: solid;
    border-bottom-style: solid;
}

.list-entry td:first-child {
    width: 75%;
    border-left-style: solid;
    border-top-left-radius: 0.75rem; 
    border-bottom-left-radius: 0.75rem;
}
.list-entry td:last-child {
    width: 25%;
    border-right-style: solid;
    border-bottom-right-radius: 0.75rem; 
    border-top-right-radius: 0.75rem; 
}

.project-image {
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.work-image {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}