/*------------------------------------------
| ITEMS THAT AFFECT EVERY PART OF THE SITE |
------------------------------------------*/

/*
This is used to set sizes for different devices that will visit the site.
All my font sizes use "rem", which uses a multiplier on the html font size
to determine the resulting font size for each component.
*/
@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

/*
Sets the website's background, and establishes a default font and color of 
"Microsoft YaHei Light" and white font for all containers in the HTML body.
*/
body {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("vectorbg.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: "Microsoft YaHei Light"
}

/*
All links are to be colored pink.
*/
a {
    color: #ffa9a1;
}

/*
All links are changed to white when hovered on.
*/
a:hover {
    color: white;
}

/*
Reduced bullet point padding for all pages to increase readability on
mobile devices.
*/
ul {
    padding-left: 1.5rem;
}

/*------------------------------------------
|     CUSTOMIZING THE BANNER / HEADER      |
------------------------------------------*/

/*
Styles the personal info section of my resume into a banner that exists at
the top of the page, but becomes fixed to the top of the screen when
scrolling down. Centers all the content in the banner as well. It uses a custom
font to help it stand out from the rest of the site.
*/
#banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("banner.png");
    position: sticky;
    display: flex;
    text-align: center;
    justify-content: center;
    top: 0;
    width: 100%;
    font-family: "Microsoft JhengHei";
}

/*------------------------------------------
|         CUSTOMIZING All SECTIONS         |
------------------------------------------*/

/*
Sets all section titles (h3) to be large and centered.
*/
.section-title {
    font-size: 2rem;
    text-align: center;
}

/*------------------------------------------
|        CUSTOMIZING THE INDEX PAGE        |
------------------------------------------*/

/*
Centers the sections of the resume and gives a 15% screen 
margin on each side.
*/
.resume-section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/*
Adds a semi-transparent dark red background to the text of 
the resume to significantly increase the readability of the 
content.
*/
.section-content {
    background-color: rgba(74, 0, 0, 0.5);
}

/*------------------------------------------
|       CUSTOMIZING THE EXTRA PAGES        |
------------------------------------------*/

/*
Centers the tables of each page and spaces out the rows
to give the appearance of separate entries. There is a 15%
screen margin on each side.
*/
.section-list {
    border-spacing: 0 1rem;
    table-layout: fixed;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/*
This comment addresses the next two entries. These are made
to alternate the colors of each table row in the extra pages
to help them stand out from each other. Not needed but I think
it's a nice touch.
*/
.list-entry:nth-child(even) {
    background-color: #650000;
}

.list-entry:nth-child(odd) {
    background-color: #4A0000;
}

/*
The title in each table row is larger than the rest
of the content to increase its visibility.
*/
.list-entry h3 {
    font-size: 1.25rem;
}

/*
This comment will address the next three entries. I wanted to create
a sort of "bubble" for each table row using a colored border. Each
row contains only two pieces of data: the description of the work or
project and a corresponding image. So what I did was create a top and
bottom border for both pieces of data, then had the left child round
the borders of the left. The right child rounds the borders on the right.
This results in each table row having its own bubbled border.

I also made the description section take up 75% of the table row because
I felt that the text needed more space than the images.
*/
.list-entry td {
    vertical-align: top;
    padding: 1rem;
    border-color: #D4AF37;
    border-top-style: solid;
    border-bottom-style: solid;
}

.list-entry td:first-child {
    width: 75%;
    border-left-style: solid;
    border-top-left-radius: 0.75rem; 
    border-bottom-left-radius: 0.75rem;
}

.list-entry td:last-child {
    width: 25%;
    border-right-style: solid;
    border-bottom-right-radius: 0.75rem; 
    border-top-right-radius: 0.75rem; 
}

/*
The images in the "Work Experience" page looked bad against the static colors
because of the transparency, so I added a semi-transparent background and rounded
the corners to make them easier to see while still being appealing to look at.
The images are centered in their table entry and resize automatically.
*/
.work-image {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

/*
I used this id because this is the only individual text I wanted to make a little
smaller in the projects page. I have .gifs of each project in action next to the 
project description and wanted to point out that you can see them better when opened 
in a new tab. I thought it would look bad if it was the same size as the personal 
projects header, so I made the size slightly smaller.
*/
#projects-suggestion {
    font-size: 1.1rem;
}

/*
Similar styling to the work images, but for the project images in the "Personal
Projects" page. No transparency, so no background needed.
*/
.project-image {
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}